html {
  --fnt-alfa-slab: "Alfa Slab One", cursive;
  --fnt-lato: "Special Elite", cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: var(--fnt-alfa-slab), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 1);
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url(https://cdn.glitch.com/c4b6053a-71c0-429d-a324-d108ad1d1e87%2Ffki_class.jpg?v=1569904644421);
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

div.header-content {
  position: relative;
  display: inline-block;
}

div.contact-information {
  animation: fadeInAndUp 1s 1 forwards;
}

header h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 10vw;
  letter-spacing: 20px;
  animation: fadeInAndDown 1s 1 forwards;
}

header h2,
header h3 {
  font-family: var(--fnt-lato), sans-serif;
  text-align: center;
}

header h2 {
  font-size: 4vw;
}

header h3 {
  font-size: 3vw;
}

@keyframes fadeInAndDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInAndUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

button.email-us {
  display: block;
  background: white;
  border: none;
  border-radius: 40px;
  font-size: 22px;
  margin: 20px auto 0;
  padding: 20px;
}

button.email-us:hover {
  transform: translateY(-2px);
  background: red;
}
button.email-us:active {
  transform: translateY(-3px);
}
